@use '../1-helpers/vars';
@use '../1-helpers/mixins';

.about {


  &-header {
    display: flex;
    justify-content: center;
  }

  &-body {
    display: flex;
    flex-direction: row;  
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 45px;
    margin-right: 45px;

    @include mixins.media-queries(mobile, max) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-img {
    height: vars.$base-size * 30;
    width: vars.$base-size * 25;
    // padding-left: vars.$base-size * 3;

    @include mixins.media-queries(tablet, max) {
      height: vars.$base-size * 25;
    width: vars.$base-size * 20;
    }

    @include mixins.media-queries(mobile, max) {
      height: auto;
      width: 65%
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: vars.$base-size * 2;
    width: 90%;

    @include mixins.media-queries(mobile, max) {
      width: 80%;
    }
  }
}