@use '../1-helpers/functions';
@use '../1-helpers/mixins';
@use '../1-helpers/vars';

.column-6 {
  width: functions.width(12);
  @include mixins.media-queries(mobile, min) {
    width: functions.width(6);
  }
}

.column-9 {
  width: functions.width(12);
  @include mixins.media-queries(mobile, min) {
    width: functions.width(9);
  }
}
