@use '../1-helpers/functions';
@use '../1-helpers/mixins';
@use '../1-helpers/vars';

nav {
   width: functions.width(12);
  display: flex;
  align-items: center;
  // justify-content: start;
  background-color: vars.$primary;
  color: vars.$secondary;
  padding: 0 vars.$base-size * 3;


  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 15px;

    a {
      color: vars.$secondary;
    }

    a:hover {
      color: vars.$alternative;
    }
  }

  // @include mixins.media-queries(tablet, min) {
  //   width: functions.width(6)
  // }
}